/*----------------------------------------------------
---MODAL----------------------------------------------
----------------------------------------------------*/
.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    top: 0px;
    left:0px;
    justify-content: center;
    align-items: center;
}
.show.modal {
    display: flex;
    transition: 2s;
}
.modal-content {
    width: 70%;
    height: 60%;
    position: absolute;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.modal-content::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #5a1033 0%, #86174b 40%, #4d0d2b 100%);
    z-index: 2;
}

.ini .modal-content::before {
    left: 60%;
    border-radius: 0 10px 10px 0;
}

/*----------------------------------------------------
---ANIMAÇÃO-------------------------------------------
----------------------------------------------------*/

.register-js .modal-content::before {
    animation: registerModal 0.8s;
    left: 0;
    border-radius: 10px 0 0 10px;
}
@keyframes registerModal {
    from {
        left: 60%;
        border-radius: 0 10px 10px 0;
    } to {
        left: 0;
        border-radius: 10px 0 0 10px;
    }
}

.login-js .modal-content::before {
    animation: loginModal 0.8s;
    left: 60%;
    border-radius: 0 10px 10px 0;
}
@keyframes loginModal {
    from {
        left: 0;
        border-radius: 10px 0 0 10px;
    } to {
        left: 60%;
        border-radius: 0 10px 10px 0;
    }
}
.service-js .modal-content::before {
    animation: serviceModal 0.8s;
    left: 0;
    border-radius: 10px 0 0 10px;
}
@keyframes serviceModal {
    from {
        left: 60%;
        border-radius: 0 10px 10px 0;
    } to {
        left: 0;
        border-radius: 10px 0 0 10px;
    }
}

/*----------------------------------------------------
---registrer-js---------------------------------------
----------------------------------------------------*/
.modal-register {
    display: flex;
}
.first-content {
    width: 40%;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 3;
}
.first-content h2 {
    font-size: 35px;
    font-weight: 1000;
}
.first-content p {
    margin: 30px;
}
.first-content .btn {
    background-color: #fff;
    color: #86174b;
    border: none;
}
.first-content .btn:hover {
    background-color: #86174b;
    color: #fff;
}
.second-content {
    flex-grow: 5;
    text-align: center;
    align-content: center;
    position: relative;
    z-index: 1;
}
.second-content h2 {
    font-size: 35px;
    font-weight: 1000;
}
.second-content p {
    margin: 5px;
    font-size: 12px;
}
.modal-register .second-content form,
.modal-login .second-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .modal-register .second-content form input,
 .modal-login .second-content form input{
    border: none;
    height: 35px;
    width: 100%;
    background-color: #EBEBEB;
}
.second-content form input:focus{
    outline: 0;
    box-shadow: 0;
}
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #EBEBEB inset !important;
    -webkit-text-fill-color: #000 !important;
}
.second-content form .btn {
    margin: 20px
}

.label-input {
    display: flex;
    align-self: center;
    width: 60%;
    align-items: center;
    justify-content: center;
    background-color: #EBEBEB;
    margin: 8px 0;
}

.icon-input {
    padding: 0 10px;
}
/*----------------------------------------------------
---login-js-------------------------------------------
----------------------------------------------------*/
.modal-login {
    position: absolute;
    display: flex;
}

.modal-login .first-content {
    order: 2;
}

.modal-login .second-content {
    order: 1;
}

/*----------------------------------------------------
---service-js-----------------------------------------
----------------------------------------------------*/

.modal-service .first-content {
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 2s;
    overflow-y: auto;
    animation: fadeIn 0.5;
}

.modal-service .first-content button {
    display: flex;
    position: absolute;
    align-items: center;
    top: 15px;
    left: 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    transition: 0.5s;
}

.modal-service .first-content .arrow {
    transform: translateY(2px);
    color: #fff;
    padding: 18px 4px 20px 8px;
}

.modal-service .first-content h3 {
    margin: 5px 10px 5px 5px;
    color: #86174b;
    font-size: 24px;
    visibility: hidden;
}

.modal-service button:hover {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.modal-service .first-content button:hover .arrow {
    color: #86174b;
}
.modal-service .first-content button:hover h3{
    visibility: visible;
}

.modal-service .first-content #card-area {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 80%;
    top: 30%;
}

.modal-service .first-content .professional-input {
    position: absolute;
    visibility: hidden;
}

.modal-service .first-content .professional-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 155px;
    width: 140px;
    margin: 10px;
    padding: 5px 5px 5px 5px;
    transition: 0.2s;
    filter: grayscale(100%);
    cursor: pointer;
    animation: fadeImg 1s;
}
@keyframes fadeImg {
    0% {
        opacity: 0;
    } 50% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}
.modal-service .first-content .professional-card:hover {
    transform: scale(105%);
}

.modal-service .first-content input[type=radio]:checked + .professional-card {
    filter: grayscale(0%);
}

.modal-service .first-content .professional-card:hover {
    filter: grayscale(0%);
}
.modal-service .first-content .professional-card:active {
    transform: scale(95%);
}

.modal-service .first-content .professional-card img {
    height: 100%;
    width: 100%;
}

.professional-img{
    position: relative;
    height: 200px;
    width: 200px;
}

.professional-card .name{
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 17px;
}

/*Second-content*/
.modal-service .second-content  {
    height: 100%;
    display: flex;
    overflow: auto;
}

.modal-service p {
    margin: 0;
    font-size: 12px;
}
.modal-service .title{
    position: absolute;
    top: 8%;
    height: 10%;
    left: 50%;
    transform: translate(-50%);
}

.modal-service .second-content .classe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 30%;
    left: 5%;
    background-color: #fff;
    width: 90%;
    height: auto;
}

.modal-service .second-content .classe .trigger {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0;
}

.modal-service .second-content .classe .trigger .angle {
    margin: 12px 5px 0 0;
}

@keyframes upAngle {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(180deg);
    }
}
@keyframes downAngle {
    from {
        transform: rotate(180deg);
    } to {
        transform: rotate(0);
    }
}

.modal-service .second-content .classe .service-list {
    position: relative;
    top: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-between;
    width: 100%;
    height: 0;
    overflow: hidden;
}
@keyframes useList {
    from {
        max-height: 0px;
    } to {
        max-height: 500px;;
    }
}
@keyframes hiddenList {
    from {
        max-height: 500px;
    } to {
        max-height: 0px;
    }
}

.modal-service .second-content .service-list .item-list {
    background-color: #EBEBEB;
    color: #000;
    height: 50px;
    width: 130px;
    border-radius: 12px;
    font-size: 20px;
    margin: 1%;
    font-family: sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-weight: bolder;
    transition: 0.3s;
}

.modal-service .second-content .service-list input[type=radio]:checked  + .item-list {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #86174b;
    color: #fff;
}

.modal-service .second-content .service-list input[type=radio]:active  + .item-list {
    box-shadow: none;
    transform: scale(90%);
    color: #fff;
    background-color: #86174b;
}

.modal-service .second-content input {
    visibility: hidden;
    position: absolute;
}

.modal-service .second-content button {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -55px;
    margin: 30px;
    right: 0;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    align-items: center;
    transition: 0.5s;
}

.modal-service .second-content button h3 {
    font-size: 24px;
    order: 1;
    margin: 5px 10px 5px 10px;
    visibility: hidden;
    color: #fff;
}

.modal-service .second-content button .arrow {
    order: 2;
    padding: 24px 15px 22px 2px;
}
.modal-service .second-content button:hover {
    background-color: #86174b;
}
.modal-service .second-content button:hover h3 {
    visibility: visible;
}
.modal-service .second-content button:hover .arrow {
    color: #fff;
}


/*----------------------------------------------------
---display--------------------------------------------
----------------------------------------------------*/

.register-js .modal-login, 
.register-js .modal-service {
    display: none;
    opacity: 0%;
}

.login-js .modal-register,
.login-js .modal-service,
.ini .modal-register {
    display: none;
    opacity: 0%;
}

.ini .modal-service {
    opacity: 0%;
    display: none;
}

.service-js .modal-register,
.service-js .modal-login  {
    display: none;
    opacity: 0%;
}
